<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>OmniTools AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="top-nav">
        <a href="/seguridad">Seguridad</a>
        <a href="/testers">Testers</a>
    </nav>

    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" class="main-logo">
      
        <h1>OmniTools AI</h1>
        
    </div>

</body>
</html>
